:root {
    /*Colores*/
    --main-color: brown;
    --text-bg-color: #D9D8D7;
    --bg-color:#1e1c2a;
    --white-color:#FFF;
    --gray-color: #D9D8D7;
    --gray-white-color: #d9d8d721;
    
    /*Tamanos fuente*/
    --big-font:5rem;
    --h2-font:2.25rem;
    --p-font:1.2rem;
}

html{
    box-sizing: border-box;
}

*,*::after,*::before{
    box-sizing: inherit;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: var(--p-font);
    color: var(--text-color);
    background: var(--gray-white-color);
}

/*Genericos*/
.contenedor{
    /*height: 80%;
    width: 1258px;
    Contrado izquierda derecha*/
    margin-left: auto;
    margin-right: auto;
    height: 80%;
}

.btn{
    display: inline-block;
    text-decoration: none;
    padding: 1em;
    border-radius: 0.3rem;
    margin: 0 0.1em;
    font-size: 1.2rem;
}

hr{
    border-style: inset;
    border-width: 1px;
    margin: 1rem 0;

}


/*Clases del header*/
.bg-img-fondo{
    background:url(/assets/img/fondo_header.jpg);
    height: 12.75rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-transp{
    height: 90%;
    border-top: 0;
    width: auto;
    background-color: #73605566;
    padding: 1.5em 0;
}


/*Clases del header // orden del header*/
.nav-logo-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 11rem;

}

/*Clases del header // propiedades de los elementos del header*/
.nav-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #FFF;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1em;
}

/*Clases del header // tamano del logo*/
.nav-logo a img{
    width: 6em;
}

/*Clases del header // Carcasa del menu*/
.nav-menu{
    padding: 1rem;
    border-radius: 0.3em;
}

/*Clases del header // diseno de los elementos del menu*/
.nav-link{
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    padding: 0.6em;
}

/*Clases del header // diseno del hover de los elementos del menu*/
.nav-link:hover{
    background-color: #FFF;
    color: #000;
    border-radius: 0.3em;
}

/*Principal*/
.principal{
    background-color: var(--gray-white-color);
    margin: 1em 10em;;
    padding: 1em;
    border-radius: 0.3em;
}

/*Secundario*/
.secundario{
    background-color: var(--white-color);
    margin: 1em 1em;
    padding: 1em;
    border-radius: 0.3em;
}

/* Tarjetas*/
.card{
    background-color: aqua;
    overflow: hidden;
    margin-bottom: 1em;
    border-radius: 0.5em;
}
.img-card{
    width: 100%;
}
.body-card{
    padding: 2em;
}

.body-card h3{
    font-size: 1.2rem;
    font-weight: 500;
}
.body-card p{
    font-weight: 200;
}

.btn-card{
    background-color: rgba(141, 7, 178, 0.689);
    color: aliceblue;
}

/* Home Start*/
.home{
    color: black;
    font-size: 500;
}

/*Start //Imagen del inicio*/
.start{
    padding: 1em 1em;
    margin: 1rem 1 rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-color);
}
.start img{
    width: 30rem;
}

/*introduccion*/
.introduccion{
    padding: 0.2em 0em;
    align-items: center;
    text-align: justify;
}
/*tecnologias*/
.tecnologias li{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/*Enlaces // listas*/
.enlaces li{
    padding-top: 1.0em;
    padding-bottom: 1.0em;
}

/*Textos de las listas*/
.about-text li{
    font-size: var(--p-font);
}

/*proceso*/
.proceso-content{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    padding: 2rem 2em;
    align-items: center;
}

.proceso-img img{
    max-width: 100%;
    width: 45rem;
    height: auto;
}

.proceso-text span{
    color: var(--main-color);
    font-weight: 600;
}
/*Contacto*/

.heading{
    text-align: center;
}

.contact{
    position: relative;
    display: block;
    margin: 1em 10em;;
    padding: 1em;
    border-radius: 0.3em;
    background: var(--bg-color);
    
}
.contact {
    color: var(--white-color);
}

.menu-container-contacto{
    place-content: center;
    display: flex;
    align-items: center;
    padding: 30px 170px;
    
}
.box img{
    width: 150px;
    height: 150px;
}

.contact p{
    text-align: center;
}

